/* FONTS */

@font-face {
font-family: "Avant Garde I T Cby B T";
src: url('../../fonts/AvantGardeDemiBT.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: "Helvetica Neue";
src: url('../../fonts/HelveticaNeue Medium.ttf') format('truetype');
font-weight: 500;
}

@font-face {
font-family: "Helvetica Neue";
src: url('../../fonts/HelveticaNeue Light.ttf') format('truetype');
font-weight: 400;
}
/* END OF FONTS */

* { box-sizing: border-box ;}
html {
    min-height: 100%;
}
body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
    font-family: "Helvetica Neue",sans-serif;
    text-align: left;
    background-color: #1d1f2c;
}


/* NAVIGATION */
nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    will-change: transform, background-color;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.nav_logo {
    display: flex;
    align-items: center;
    width: 134px;
}
.nav_links {
    display: flex;
    align-items: center;
}
.nav_link {
    margin-left: 25px;
    display: flex;
    align-items: center;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.nav_link:hover {
    opacity: 0.9;
}
.link_image {
    display: flex;
    align-items: center;
    width: 16px;
    margin-right: 7px;
}
.link_name {
    color: white;
    font-size: 15px;
    font-weight: 500;
}

/* NAV Ending*/


/* HEADER */
main {
    position: relative;
    padding: 80px 20px 25px;    
}
/*GRADIENT*/

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 397px;
    z-index: -1;
    background: linear-gradient(0deg, #1d1f2c, rgba(29,31,44,0)), linear-gradient(90deg, #362929, #212433);
}
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: url(../../assets/v1/pattern.png) repeat-x;
    background-size: 369px 397px;
}
header {
    max-width: 920px;
    margin: auto;
    display: flex;
}
.video {
    max-width: 607px;
    display: flex;
    align-items: center;
    flex-grow: 2;
}
.video_info {
    max-width: 234px;
    display: flex;
    flex-flow: wrap;
    margin-left: 20px;
}
.video_properties {
    align-self: flex-start;
    margin-bottom: 30px;
}
.video_user {
    display: flex;
    align-items: center;
}
.user_icon {
    display: flex;
    align-items: center;
    width: 60px;
    margin-right: 20px;
}
.user_name {
    color: #fffeff;
    font-size: 22px;
    font-weight: 400;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.user_name:hover {
    opacity: 0.9;
}
.video_type {
    display: flex;
    margin: 22px 0 9px;
    color: #a9aab2;
    font-size: 17px;
    font-weight: 400;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.video_type:hover {
    opacity: 0.9;
}
.video_date {
    color: #4a4c5e;
    font-size: 15px;
    font-weight: 400;
}
.vr_type {
    margin-top: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    height: 25px;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(91,125,210,0.75);
}
.vr_type.two {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    cursor: inherit;
    transform-origin: top left;
    transform: scale(1.5);
}
.video_feedback {
    align-self: flex-end;
}
.video_share {
    display: flex;
    align-items: baseline;
    padding-bottom: 13px;
}
.shares_title {
    color: #50525f;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 5px;
}
.shares_stats {
    display: flex;
    align-items: center;
}
.shares_number {
    color: #fffeff;
    font-family: "Avant Garde I T Cby B T";
    font-size: 29px;
    font-weight: 300;
    margin-right: 42px;
}
.shareto_title {
    color: #50525f;
    font-size: 15px;
    font-weight: 400;
    padding-bottom: 14px;
}
.shares_options {
    display: flex;
    align-items: center;
}
.shares_option {
    display: flex;
    align-items: center;
    height: 18px;
    margin-right: 15px;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.shares_option:hover {
    opacity: 0.9;
}
.shares_option img {
    height: 100%;
    width: initial;
}
.video_response {
    display: flex;
    align-items: center;
}
.video_likes {
    margin-right: 35px;
}
.likes_title {
    color: #50525f;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}
.likes_stats {
    display: flex;
    align-items: center;
}
.likes_icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 23px;
    margin-right: 10px;
}
.liked {
    opacity: 0;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.not_liked {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
/*.likes_icon:focus .liked {
    opacity:1;
}
.likes_icon:focus .not_liked {
    opacity: 0;
}*/
.likes_number {
    color: #fffeff;
    font-family: "Avant Garde I T Cby B T";
    font-size: 29px;
    font-weight: 300;
}
.views_title {
    color: #50525f;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}
.views_number {
    color: #fffeff;
    font-family: "Avant Garde I T Cby B T";
    font-size: 29px;
    font-weight: 300;
}
/* HEADER ENDING */


/* RELATED */
.related {
    max-width: 920px;
    margin: auto;
}
.related_title {
    padding: 45px 0 25px;
    color: #eaeced;
    font-size: 28px;
    font-weight: 400;
}
.related_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card {
    width: 293px;
    max-width: 293px;
    margin-bottom: 25px;
}
.card_image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* PLAY BUTTON*/
.card_play {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96) , transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}

.play_circle {
    position: absolute;
    border-radius: 50%;
    background-color: #ef7125;
    will-change: transform;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.play_circle.one {
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: scale(1.2) translate(-50%,-50%);
    opacity: 0.2;
}
.play_circle.two {
    top: 50%;
    left: 50%;
    transform: scale(0.8) translate(-50%,-50%);
    transform-origin: top left;
    height: 75px;
    width: 75px;
}
.play_triangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    margin-left: 3px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid white;
}
.card_image:hover .card_play {
    opacity: 1;
}
.card_image:hover .play_circle {
    transform: scale(1) translate(-50%,-50%);
}
/* Play Ending*/
.card_properties {
    background-color: #222431;
    border: 2px solid #222431;
    padding: 18px;
}
.card_name {
    display: flex;
    align-items: center;
}
.name_icon {
    display: flex;
    align-items: center;
    width: 30px;
    margin-right: 15px;
}
.name_context {
    color: #fffeff;
    font-size: 18px;
    font-weight: 400;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.name_context:hover {
    opacity: 0.9;
}
.card_type {
    display: flex;
    margin: 15px 0;
    color: #a9aab2;
    font-size: 17px;
    font-weight: 400;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.card_type:hover {
    opacity: 0.9;
}
.card_date {
    color: #4a4c5e;
    font-size: 15px;
    font-weight: 400;
}
.card_stats {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f212e;
}
.stats_views {
    color: #4a4c5e;
    font-size: 15px;
    font-weight: 400;
    margin-right: 15px;
}
.stats_shares {
    position: relative;
    display: flex;
    align-items: center;
}
.stats_shares_btn {
    display: flex;
    margin-right: 8px;
}
.stats_shares_icon {
    position: relative;
    display: flex;
    align-items: center;
    width: 18px;
    margin-right: 10px;
}
.share_image {
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.shared_image {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.stats_shares_context {
    position: relative;
    overflow: hidden;
    padding-bottom: 1px;
    color: #ee7024;
    font-size: 15px;
    font-weight: 400;
    will-change: color;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), padding-right .3s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.stats_shares_context:before {
    content: "Shared";
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0,0,0,0);
    will-change: color;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.stats_shares_context:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 100%;
    height: 1px;
    width: 100%;
    background-color: #ee7024;
    will-change:transform;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.stats_shares_number {
    color: #4a4c5e;
    font-size: 15px;
    font-weight: 400;
}
/* TOOLTIP*/
.tooltip {
    position: absolute;
    bottom: 100%;
    left: -5px;
    width: calc(100% + 10px);
    margin-bottom: 17px;
    background-color: #1f212e;
    border: 2px solid rgba(60, 63, 81, 0.58);
    box-shadow: 0 0 24px rgba(34, 36, 49, 0.24);
    transform: rotateX(90deg);
    transform-origin: bottom;
    will-change: transform;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.tooltip_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.tooltip_btn:first-child {
    border-bottom: 2px solid #262838;
}
.tooltip_btn_text {
    color: #ef7125;
    font-size: 13px;
    font-weight: 400;
}
.tooltip_btn_image {
    display: flex;
    align-items: center;
    height: 18px;
}
.tooltip_btn_image img {
    width: initial;
    height: 100%;
}
/* TOOLTIP TARGETS*/
#tooltip-1:target, #tooltip-2:target, #tooltip-3:target {
    transform: rotateX(0deg);
}
/* TOOLTIP ENDING*/
/* HOVERS & FOCUSED */
.stats_shares_btn:hover .stats_shares_context:after {
    transform: translate(100%,0);
}
.stats_shares_btn.on .share_image {
    opacity: 0;
}
.stats_shares_btn.on .shared_image {
    opacity: 1;
}
.stats_shares_btn.on .stats_shares_context {
    padding-right: 9px;
    color: rgba(0,0,0,0);
}
.stats_shares_btn.on .stats_shares_context:before {
    color: #4a4c5e;
}
.stats_shares_btn.on .stats_shares_context:after {
    transform: translate(0%,0);
}
/* BROWSE RELATED */
/* RELATED NAV*/
.related_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.related_types {
    display: flex;
}
/* GAME DROPDOWN */
.types_game {
    position: relative;
    margin-right: 10px;
    width: 150px;
}
.game_button.top {
    color: rgba(255,255,255,.2);
    background-color: rgba(20,21,31,0);
    border: 1px solid rgba(73,75,87,.5);
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), border-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.game_button.top.selected {
    color: white;
}
.game_button.top:after {
    content: "";
    border-top: 7px solid rgba(255,255,255,.2);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: border-top-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.game_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255,255,255,.9);
    background-color: #494b57;
    border-bottom: 1px solid #403d46;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.game_button:last-child {
    border-bottom: none;
}
.game_dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.game_dropdown.show {
    transform: rotateX(0deg);
}
/* Events */
.game_button:hover {
    color: white;
}
.game_button.top:hover {
    color: white;
    background-color: rgba(20,21,31,.5);
    border-color: rgba(73,75,87,1);
}
.game_button.top:hover:after{
    border-top-color: rgba(255,255,255,.5);
}
/* GAME DROPDOWN End*/

/* SORT DROPDOWN */
.types_sort {
    position: relative;
    width: 170px;
}
.sort_button.top {
    color: rgba(255,255,255,.2);
    background-color: rgba(20,21,31,0);
    border: 1px solid rgba(73,75,87,.5);
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), border-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.sort_button.top.selected {
    color: white;
}
.sort_button.top:after {
    content: "";
    border-top: 7px solid rgba(255,255,255,.2);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    transition: border-top-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.sort_button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 400;
    color: rgba(255,255,255,.9);
    background-color: #494b57;
    border-bottom: 1px solid #403d46;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.sort_button:last-child {
    border-bottom: none;
}
.sort_dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1;
    width: 100%;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.sort_dropdown.show {
    transform: rotateX(0deg);
}
/* Events */
.sort_button:hover {
    color: white;
}
.sort_button.top:hover {
    color: white;
    background-color: rgba(20,21,31,.5);
    border-color: rgba(73,75,87,1);
}
.sort_button.top:hover:after {
    border-top-color: rgba(255,255,255,.5);
}
/* SORT DROPDOWN END*/
.related_nav .inputholder {
    width: 293px;
}
.related_nav .inputholder img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 18px;
}
/* BASIC INPUT */
.inputholder {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 20px;
    width: 100%;
    border: 1px solid rgba(73,75,87,.5);
    transition: border-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.inputholder input {
    width: 100%;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 15px;
    padding: 10px;
    padding-left: 37px;
    font-weight: 400;
    background-color: rgba(20,21,31,0);
    transition: background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
::-webkit-input-placeholder {
    color: rgba(255,255,255,.2);
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.inputholder:hover {
    border-color: rgba(73,75,87,1);
}
.inputholder input:focus {
    background-color: rgba(20,21,31,0.5);
}
.inputholder input:focus::-webkit-input-placeholder {
    color: white;
}
/* BASIC INPUT */

/* RELATED LOAD MORE*/
.load_more {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 229px;
    height: 40px;
    margin: auto;
    background-color: #1f212e;
    border: 2px solid #2c2d38;
    color: #ff722c;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
    opacity: 0;
    will-change: opacity;
    transition: opacity 1s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.load_more:after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    width: 110%;
    background-color: rgba(0,0,0,.15);
    transform-origin: top;
    transform: skewX(-30deg) translate(0%,0);
    transition: background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.load_more:hover:after {
    transform: skewX(-30deg) translate(100%,0);
}
.load_more:active:after {
    background-color: rgba(0,0,0,.3);
    transform: skewX(-30deg) translate(100%,0);
}
/* LOAD MORE ENDING*/

/* RELATED NAV ENDING */

/* RELATED ENDING */


/* FOOTER */
footer {
    padding: 70px 20px;
    background-color: #1f212e;
}
.footer_container {
    max-width: 920px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_us {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.about_logo {
    display: flex;
    align-items: center;
    width: 134px;
    margin-right: 25px;
}
.about_info {
    color: rgba(106,108,123,0.75);
    font-family: "Avant Garde I T Cby B T";
    font-size: 14px;
    font-weight: 300;
}
.about_links {
    display: flex;
    align-items: center;
}
.about_link {
    position: relative;
    color: rgba(255,108,36,0.75);
    font-family: "Avant Garde I T Cby B T";
    font-size: 14px;
    font-weight: 300;
    margin-right: 25px;
    padding-bottom: 1px;
    overflow: hidden;
    will-change:color;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.about_link:before {
    content: "";
    height: 1px;
    width: 100%;
    background-color: #ff6c24;
    position: absolute;
    bottom: 0;
    right: 100%;
    will-change: transform;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.about_link:hover {
    color: #ff6c24;
}
.about_link:hover:before {
    transform: translate(100%,0);
}
.social_title {
    text-align: right;
    color: #e8e9f1;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}
.social_links {
    display: flex;
    align-items: center;
}
.social_link {
    display: flex;
    align-items: center;
    height: 18px;
    margin-left: 15px;
    will-change:opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.social_link:hover {
    opacity: 0.9;
}
.social_link img {
    height: 100%;
    width: initial;
}
/* FOOTER ENDING*/









@media all and (max-width: 950px) {
    .related_cards {
        margin: auto;
        max-width: 650px;
    }
    .card {
        width: 45%;
        margin: 0 5px 30px;
    }
}

@media all and (max-width: 770px) {
    .nav_link {
        position: relative;
        overflow: hidden;
        margin-left: 18px;
        padding: 2px 0px;
    }
    .link_name {
        position: absolute;
        left: 24px;
    }

    /* HEADER*/
    header {
        flex-flow: wrap;
        justify-content: center;
    }
    .video {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .video_info {
        max-width: 100%;
        margin-left: 0;
        justify-content: center;
    }
    .video_properties {
        margin-bottom: 0;
        align-self: center;
        margin-right: 20px;
    }
    .user_icon {
        width: 40px;
    }
    .user_name {
        font-size: 18px;
    }

}

@media all and (max-width: 610px) {
    /* FOOTER */
    .footer_container {
        flex-flow: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer_about {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
    .about_us {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
        width: 100%;
    }
    .about_logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .about_info {
        width: 100%;
    }
    .about_links {
        flex-flow: wrap;
    }
    .about_link {
        width: 100%;
        margin: 0 0 10px;
    }
    .about_link:hover:before {
        transform: translate(0%,0);
    }
    .about_link:last-child {
        margin-right: 0;
    }
    .social_title {
        text-align: center;
        margin-bottom: 15px;
    }
    .social_link:first-child {
        margin-left: 0;
    }
    /* FOOTER Ending*/
}

@media all and (max-width: 558px) {
    .nav_logo {
        width: 100px;
    }
    .video_info {
        justify-content: flex-start;
        max-width: 234px;
    }
    .video_properties {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    .related_cards {
        justify-content: center;
    }
    .card {
        margin: 0 0 30px;
        width: 100%;
        max-width: 400px;
    }
    .about_links {
        flex-flow: wrap;
        justify-content: space-around;
    }
    .about_link, .about_link:last-child {
        margin: 0 10px 10px;
    }
    /* BROWSE */
    /* Related Nav */
    .related_nav {
        flex-flow: wrap;
    }
    .related_types {
        order: 2;
        justify-content: space-between;
        width: 400px;
        margin: auto;
    }
    .related_nav .inputholder {
        width: 100%;
        max-width: 400px;
        margin: 0 auto 20px;
    }
    .types_game {
        max-width: 150px;
        width: 100%;
        min-width: 121px;
    }
    .types_sort {
        max-width: 170px;
        width: 100%;
        min-width: 141px;
    }
    /* RELATED End*/

}
@media all and (max-width: 400px) {
    .video_proerties {
        margin: 0 0 30px;
    }
}



/* LANDING PAGE */
/* HEADER */
body#landing {
    text-align: center;
}
header.landing {
    display: block;
    position: relative;
    padding: 150px 30px 30px;
    max-width: initial;
}
.header_title {
    text-shadow: 0 0 51px rgba(0, 0, 0, 0.75);
    color: #fffeff;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
}
.header_info {
    padding: 17px 0 42px;
    text-shadow: 0 0 51px rgba(0, 0, 0, 0.75);
    color: #d1d3d8;
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
}
/* HEADER POPOUT*/
.header_thumbnail {
    display: flex;
    align-items: center;
    width: 153px;
    margin: 0 auto 90px;
}
.header_popout_holder {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    will-change: opacity;
    transition: opacity .5s cubic-bezier(0.46, 0.03, 0.52, 0.96), z-index 0s .5s;
    opacity: 0;
    z-index: -1;
}
.header_popout_container {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 0;
    padding-bottom: 45%;
}
.header_popout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
/* Header Button */
.header_btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    margin: 0 auto 90px;
    color: #fffeff;
    font-family: "Avant Garde I T Cby B T";
    font-size: 14px;
    font-weight: 300;
    border-radius: 2px;
    z-index: 1;
}
.header_btn_box {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ee6f28;
    transform: skewX(-25deg);
    z-index: -1;
}
.header_btn_shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.15);
    transform: translate(-100%,0);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.header_btn:hover .header_btn_shadow {
    transform: translate(0%,0);
}
.header_btn:active .header_btn_shadow {
    background-color: rgba(0,0,0,.3);
    transform: translate(0%,0);
}
/* Button Ending*/
.headlines {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    max-width: 920px;
    margin: auto;
    padding: 40px;
    background-color: rgba(20, 21, 30, 0.8);
}
.headline {
    max-width: 180px;
    text-align: left;
    overflow: hidden;
}
.headline_about {
    color: white;
    font-size: 17px;
    font-weight: 400;
}
.headline_title {
    color: #b5b7c4;
    font-weight: 400;
    padding: 21px 0;
    font-size: 23px;
    line-height: 1.5;
}
.headline_buttons {
    display: flex;
    justify-content: space-between;
}
.headline_button_2 {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: #4d84c8;
    width: 48%;
    height: 36px;
    padding: 10px 15px;
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 15px;
    font-weight: 300;
    border-radius: 2px;
}
.headline_button_2:after {
    content: '';
    transform-origin: top;
    transform: translate(0,0) skewX(-30deg);
    position: absolute;
    width: 130%;
    height: 100%;
    top: 0;
    right: 100%;
    background-color: rgba(0,0,0,.15);
    transition: background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.headline_btn_icon {
    display: flex;
    align-items: center;
    height: 17px;
    width: 17px;
    margin-right: 8px;
}
.headline_btn_icon img {
    height: 100%;
    width: initial;
}
.headline_button_2:nth-child(2) img {
    margin-top: -4px;
}
.headline_button_2:hover:after {
    transform: skewX(-30deg) translate(100%,0);
}
.headline_button_2:active:after {
    transform: skewX(-30deg) translate(100%,0);
    background-color: rgba(0,0,0,.3);
}
.headline_button {
    position: relative;
    color: rgba(238,111,40,0.8);
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.headline_button:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 100%;
    height: 1px;
    width: 100%;
    background: #ee6f28;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.headline_button:hover {
    color: #ee6f28;
}
.headline_button:hover:after {
    transform: translate(100%,0);
}
/* HEADER ENDING */

main.landing {
    padding: 0;
    background-color: #212433;
}

/* FEATURES */
.landing .features_title {
    padding: 40px 20px 20px;
    color: white;
    font-size: 28px;
    font-weight: 400;
}
.landing .features_cardholder {
    max-width: 960px;
    margin: auto;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
}
.landing .features_card {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    padding: 30px;
    margin: 10px;
    width: 215px;
    background-color: #1f212e;
}
.landing .card_image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 20px;
    height: 51px;
    width: 51px;
}
.landing .card_image img {
    height: 100%;
    width: initial;
}
.landing .card_about {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
/* FEATURES ENDING */


/* OPINIONS */
.opinions {
    display: flex;
    align-items: center;
    max-width: 920px;
    margin: 0 auto 50px;
    padding: 50px;
    background-color: #1f212e;
}
.opinions_contextholder {
    position: relative;
}
.opinions_context {
    text-align: left;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.opinions_context:nth-child(n+2) {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.opinions_title {
    color: white;
    font-size: 28px;
    font-weight: 400;
}
.opinions_about {
    color: #868898;
    padding: 50px 0 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}
.opinions_streamers {
    display: flex;
    align-items: center;
    flex-flow: wrap;
    max-width: 260px;
    height: 100%;
    flex-shrink: 0;
    justify-content: flex-start;
}
.streamer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}
.streamer:last-child {
    margin-bottom: 0;
}
.streamer_image {
    display: flex;
    align-items: center;
    width: 200px;
    height: 200px;
    margin-right: 25px;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0.17;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.streamer_image img {
    width: 100%;
}
.streamer_name {
    color: #556dbb;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
}
.selected .streamer_image {
    opacity: 1;
}
/* OPINIONS ENDING */


/* VIDEOS */
.videos {
    padding: 50px 0;
    overflow: hidden;
    background-color: #161721;
}
.videos_title {
    padding: 0 20px;
    color: #e5e4ea;
    font-size: 28px;
    font-weight: 400;
}
.videos_about {
    padding: 10px 20px 20px;
    color: #868898;
    font-size: 16px;
    font-weight: 500;
}
.videoholder {
    margin: 20px 0;
    margin-left: -5px;
    position: relative;
}
.video {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 432px;
    padding: 0 5px;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.video:nth-child(1n+2) {
    position: absolute;
    top: 0;
    left: 0;
}
.video img {
    width: 100%;
}
/* ARROWS */
.arrow {
    position: absolute;
    display: flex;
    align-items: center;
    width: 16px;
    top: 50%;
    transform: translate(0,-50%);
    opacity: 0.8;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.arrow.left {
    left: 20px;
}
.arrow.right {
    right: 20px;
}
.arrow:hover {
    opacity: 1;
}
/* VIDEOS ENDING */



@media all and (max-width: 768px) {
    .header_popout_container {
        width: 100%;
        padding-bottom: 56.25%;
    }
}

@media all and (max-width: 696px) {
    .headlines {
        flex-flow: wrap;
        justify-content: space-around;
    }
    .headline {
        margin-bottom: 50px;
        text-align: center;
    }
    .headline:last-child {
        margin-bottom: 0;
    }
    .headline_buttons {
        justify-content: center;
    }
    .headline_button {
        justify-content: center;
    }
    .headline_button:after {
        background-color: rgba(238,111,40,0);
    }
}
@media all and (max-width: 570px) {
    .header_title {
        font-size: 30px;
    }
    .opinions_streamers {
        display: none;
    }
    .streamer {
        justify-content: center;
    }
}


/* ABOUT PAGE*/
.about_header {
    text-align: center;
    padding: 50px 0 110px;
    max-width: 920px;
    margin: auto;
}
.about_header_title {
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 16px;
}
.about_header_info {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
}

/* TILES*/
.tiles {
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.tile {
    padding: 30px;
    background-color: #1f212e;
    width: 293px;
    margin-bottom: 20px;
}
.tile_title {
    display: flex;
    align-items: center;
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 30px;
}
.tile_title span {
    color: #fa702c;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 2px solid #fa702c;
    border-radius: 50%;
    margin-right: 14px;
}
.tile_about {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}
/* TILE ENDING*/

/* TEAM */
.team {
    max-width: 920px;
    margin: auto;
    background-color: #1f212e;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
}
.team_title {
    color: white;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 50px;
}
.team_cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    flex-flow: wrap;
}
.team_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    max-width: 120px;
    margin: 0 5px 30px;
}
.team_card:nth-child(3) {
    max-width: 135px;
}
.team_card_icon {
    display: flex;
    align-items: center;
    width: 70px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}
.team_card_name {
    color: rgba(225,227,244,.9);
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 8px;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.team_card_name:hover {
    color: #e1e3f4;
}
.team_card_status {
    color: rgba(93,120,209,.9);
    font-size: 15px;
    font-weight: 500;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.team_card_status:hover {
    color: #5d78d1;
}
.team_card_links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.team_card_link {
    display: flex;
    align-items: center;
    height: 19px;
    margin: 0 6px;
}
.team_card_link img {
    height: 100%;
    width: initial;
}
.team_about {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
}
.logo_about {
    width: 100px;
    display: inline-flex;o
}
.investors {
    max-width: 920px;
    margin: 0 auto 25px;
    background-color: #1f212e;
    text-align: center;
    padding: 50px 20px 25px;
}
.investors_title {
    color: white;
    font-size: 28px;
    font-weight: 400;
    margin-bottom: 60px;
}
.investors_cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: wrap;
}
.investors_card {
    display: flex;
    align-items: center;
    height: 42px;
    margin: 0 5px 25px;
}
.investors_card img {
    height: 100%;
    width: initial;
}


@media all and (max-width: 935px) {
    .tiles {
        justify-content: space-around;
    }
}
@media all and (max-width: 580px) {
    .about_header {
        padding: 10px 0 70px;
    }
}
@media all and (max-width: 416px) {
    .team_cards {
        justify-content: space-around;
    }
}
/* ABOUT ENDING */



/* COMING SOON*/
.background_big {
    background: url(../../assets/v1/background.png) #212433;
    background-size: cover;
    background-position: 50% 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.gradient_big { 
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(0deg,#212433,rgba(29,31,44,0));
}
.coming_soon_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
}
.coming_soon_logo {
    display: flex;
    align-items: center;
    width: 134px;
    margin-right: 20px;
}
.coming_soon_contact {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 15px;
    font-weight: 300;
    opacity: 0.9;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.contact_icon {
    display: flex;
    align-items: center;
    width: 18px;
    margin-right: 8px;
}
/* Cooming Soon Nav END */
.cooming_soon_context {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 520px;
    width: 100%;
    padding: 0 20px;
    margin: auto;
    text-align: center;
}
.cooming_soon_title {
    text-shadow: 0 0 51px rgba(0, 0, 0, 0.75);
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 50px;
    font-weight: 300;
    padding-bottom: 15px;
}
.cooming_soon_info {
    text-shadow: 0 0 51px rgba(0, 0, 0, 0.75);
    color: #868898;
    font-size: 16px;
    font-weight: 500;
}
.subscribe_thanks {
    position: absolute;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -100%);
    text-align: center;
    line-height: 40px;
    color: rgba(134,136,152,0);
    font-size: 16px;
    font-weight: 500;
    will-change: color;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    z-index: -1;
}
.subscribe_input {
    position: absolute;
    width: 100%;
    max-width: 520px;
    padding: 0 20px;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -100%);
    display: flex;
    align-items: center;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.subscribe_input .inputholder {
    margin-left: 0px;
    border-width: 2px;
}
.subscribe_input input {
    padding: 10px;
    padding-right: 20px;
}
.subscribe_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    color: #fffeff;
    font-family: "Avant Garde I T Cby B T";
    font-size: 14px;
    font-weight: 300;
    margin-left: -15px;
    z-index: 1;
}
.subscribe_button_shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #ee6f28;
    transform: skewX(-30deg);
    z-index: -1;
}
.subscribe_button_shadow_two {
    width: 100%;
    height: 100%;
    transform: translate(-100%,0);
    background: rgba(0,0,0,.15);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), background-color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.subscribe_button:hover .subscribe_button_shadow_two {
    transform: translate(0%,0);
}
.subscribe_button:active .subscribe_button_shadow_two {
    transform: translate(0%,0);
    background-color: rgba(0,0,0,.3);
}
.subscribe_error {
    color: rgba(200,50,50,0);
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%,0);
    margin-bottom: 10px;
    font-family: "Avant Garde I T Cby B T";
    font-size: 14px;
    font-weight: 300;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
/* COMING SOON ENDING*/


/* VR READY */
main.vr_ready {
    padding: 90px 0 0px;
}
.vr_ready_header {
    text-align: center;
    margin-bottom: 50px;
}
.vr_ready_header_title {
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 34px;
    padding: 0 20px 20px;
}
.vr_ready_header_context {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    padding: 0 20px 70px;
}
.vr_ready_header_image {
    display: flex;
    align-items: center;
}
.vr_ready_about {
    max-width: 920px;
    margin: auto;
    padding: 40px;
    background-color: #1f212e;
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.vr_ready_about_title {
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 30px;
}
.vr_ready_about_context {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 40px;
}
.vr_ready_about .headline_button {
    font-size: 15px;
    line-height: 25px;
    overflow: hidden;
}
.vr_ready .features_cardholder {
    padding: 30px 10px 50px;
}
.subscribe_box {
    position: relative;
    background-color: #1a1c27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    padding: 50px 50px 0;
}
.subscribe_box_about {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    padding-right: 10px;
    padding-bottom: 40px;
    will-change: opacity;
    transition: opacity .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.subscribe_box .subscribe_input {
    position: relative;
    left: inherit;
    bottom: initial;
    transform: none;
    padding: 0;
    max-width: 466px;
    padding-bottom: 50px;
}
.subscribe_box .subscribe_error {
    bottom: 90px;
}
.subscribe_box .subscribe_thanks {
    top: 50%;
    bottom: initial;
    transform: translate(-50%, -50%);
}
@media all and (max-width: 900px) {
    .subscribe_box {
        justify-content: space-around;
    }
}
/* VR READY ENDING */


/* CONTACT */
.contact_main {
    padding: 90px 20px 0;
}
.contact_title {
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 34px;
    text-align: center;
    margin: 10px 0 20px;
}
.contact_about {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 80px;
}
.contact_button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 144px;
    height: 38px;
    margin: 30px auto 110px;
    background-color: #ff712c;
    color: white;
    font-size: 15px;
    font-weight: 400;
    overflow: hidden;
}
.contact_button_image {
    display: flex;
    align-items: center;
    width: 16px;
    margin-right: 12px;
}
.contact_button:after {
    content: "";
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: top;
    transform: skewX(-25deg) translate(-100%,0);
    background-color: rgba(0,0,0,.15);
    will-change: background-color, transform;
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96), background-color.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.contact_button:hover:after {
    transform: skewX(-25deg) translate(0%,0);
}
.contact_button:active:after {
    transform: skewX(-25deg) translate(0%,0);
    background-color: rgba(0,0,0,.3);
}

.contact_cards {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    max-width: 920px;
    margin: auto;
}
.contact_card {
    max-width: 293px;
    padding: 40px;
    background-color: #1f212e;
    margin-bottom: 40px;
}
.contact_card.map {
    display: flex;
    align-items: center;
    padding: 0;
}
.contact_card_title {
    color: white;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 38px;
}
.contact_card_about {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 23px;
}
.contact_card_link {
    position: relative;
    color: rgba(238,111,40,0.9);
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    display: inline-block;
    margin-top: 8px;
    overflow: hidden;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.contact_card_link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #ee6f28;
    transform: translate(-100%,0);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.contact_card_link:hover {
    color: #ee6f28;
}
.contact_card_link:hover:after {
    transform: translate(0%,0);
}

.contact_inputholder {
    max-width: 606px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
}
.subscribe_input.input_small {
    max-width: 293px;
    position: initial;
    transform: none;
    padding: 0 0 20px;
}

.input_small input {
    padding: 10px;
}
.subscribe_input.input_big {
    max-width: 100%;
    position: initial;
    transform: none;
    padding: 0;
}
.input_big input {
    padding: 10px 10px 116px;
}

@media all and (max-width: 625px) {
    .contact_inputholder {
        justify-content: space-around;
    }
    .subscribe_input.input_small {
        max-width: 100%;
    }
}
@media all and (max-width: 935px) {
    .contact_cards  {
        justify-content: space-around;
    }
}


/* QUICK TIPS */
.quick_tips_title {
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-bottom: 20px;
}
.quick_tips_about {
    max-width: 460px;
    margin: 0 auto 60px;
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.quick_tips_cards {
    max-width: 920px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}
.quick_tips_card {
    width: 293px;
    padding: 30px;
    background-color: #1f212e;
    margin-bottom: 25px;
}
.tips_card_title {
    color: white;
    font-size: 26px;
    font-weight: 500;
    line-height: 34px;
    margin-bottom: 25px;
}
.tips_card_image {
    display: flex;
    align-items: center;
}
.tips_card_category {
    margin-bottom: 20px;
}
.tips_card_category:last-child {
    margin-bottom: 0;
}
.tips_card_name {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
}
.tips_card_info {
    color: #ef7125;
    font-size: 14px;
    font-weight: 500;
}
.tips_card_list {
margin-bottom: 25px;
}
.tips_card_item {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.tips_card_linkholder {
    display: flex;
    overflow: hidden;
}
.tips_card_link {
    color: #ee6f28;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.tips_card_link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(238,111,40,0.8);
    transform: translate(-100%, 0);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.tips_card_link:hover {
    color: rgba(238,111,40,0.8);
}
.tips_card_link:hover:after {
    transform: translate(0%, 0);
}

@media all and (max-width: 935px) {
    .quick_tips_cards {
        justify-content: space-around;
    }
}

/* LANDING 3*/
main.landing.three {
    background-color: #1d1f2c;
}
.landing.three .gradient_big {
    background: linear-gradient(0deg,#1d1f2c,rgba(29,31,44,0));
}
.related .card_image {
    margin: 0;
    width: 100%;
    height: initial;
}
.related .card_image img {
    width: 100%;
    height: initial;
}
.landing .headlines {
    background-color: rgba(22,23,33,0.8);
}
.landing .related {
    padding: 0 20px;
    max-width: 960px;
}
.landing .related_title {
    position: relative;
    text-align: left;
    padding-top: 10px;
}
.related_linkholder {
    position: absolute;
    top: 15px;
    right: 0;
}
.related_link {
    display: flex;
    position: relative;
    overflow: hidden;
    color: #ee6f28;
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.related_link:after {
    content: '';
    position: absolute;
    bottom: 8px;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(238,111,40,0.8);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
    transform: translate(-110%, 0);
}
.related_link:hover {
    color: rgba(238,111,40,0.8);
}
.related_link:hover:after {
    transform: translate(0%, 0);
}
.related_cards_two {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: wrap;
    margin-bottom: 25px;
}
.related_card_two {
    display: flex;
    align-items: center;
    width: 140px;
    margin: 0 2px 25px;
}
.features.two{
    padding: 10px 0;
}
.features.three{
    padding: 10px 0 22px;
    background-color: #161721;
    border-bottom: 2px solid #1f202d;
}
.three .features_title {
    position: relative;
}
.features_title_linkholder {
    position: absolute;
    top: 40px;
    right: 20px;
    overflow: hidden;
}
.features_title_link {
    color: #ff6b22;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.features_title_link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255,107,34,0.8);
    transform: translate(-105%,0);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.features_title_link:hover {
    color: rgba(255,107,34,0.8);
}
.features_title_link:hover:after {
    transform: translate(0%,0);
}
#landing footer {
    background-color: #161721;
}


@media all and (max-width: 920px) {
    .related_cards_two {
    justify-content: space-around;
    }
}

@media all and (max-width: 700px) {
    .features_title_linkholder {
    position: initial;
    }
    .features_title_link:after {
        display: none;
    }
}
/* LANDING 3 Ending */



/* CAREERS*/
.careers {
    margin: 10px 0 25px;
}
.careers_title {
    text-align: center;
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 15px;
}
.careers_about {
    text-align: center;
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 70px;
}
.careers_tiles {
    max-width: 920px;
    margin: auto;
    background-color: #1f212e;
}
.careers_tile {
    padding: 40px;
    border-bottom: 2px solid #262834;
}
.careers_tile:last-child {
    border-bottom: none;
}
.careers_tile_title {
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
}
.careers_tile_context {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
    margin: 25px 0;
}
.careers_tile_linkholder {
    overflow: hidden;
}
.careers_tile_link {
    color: #ff6b22;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.careers_tile_link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: rgba(255,107,34,0.8);
    transform: translate(-105%, 0);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.careers_tile_link:hover {
    color: rgba(255,107,34,0.8);
}
.careers_tile_link:hover:after {
    transform: translate(0%,0);
}
/* CAREERS ENDING */


/* HELP */
.help {
    margin: 10px 0 15px;
}
.help_title {
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    text-align: center;
    margin-bottom: 15px;
}
.help_about {
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 70px;
}
.help_tiles {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 920px;
    margin: auto;
}
.help_tile {
    width: 450px;
    background-color: #1f212e;
    padding: 40px;
    margin-bottom: 20px;
}
.help_tile_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 20px;
}
.help_tile_title_context {
    color: white;
}
.help_tile_title_image {
    display: flex;
    align-items: center;
    width: 48px;
}
.help_tile_context {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}
.help_tile_link {
    display: flex;
    align-items: center;
    padding: 4px 0;
}
.help_tile_image {
    display: flex;
    align-items: center;
    width: 27px;
    margin-right: 13px;
    margin-left: -8px;
}
.help_tile_textholder {
    overflow: hidden;
}
.help_tile_text {
    position: relative;
    color: #ff6c24;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.help_tile_text:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(255,108,36,0.8);
    transform: translate(-105%, 0);
    transition: transform .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.help_tile_text:hover {
    color: rgba(255,108,36,0.8);
}
.help_tile_text:hover:after {
    transform: translate(0%, 0);
}

@media all and (max-width: 956px) {
    .help_tiles {
        justify-content: space-around;
    }
}
/* HELP Ending*/


/* RECORDING */
.recording {
    margin: 10px 0 25px;
}
.recording_title {
    text-align: center;
    color: white;
    font-family: "Avant Garde I T Cby B T";
    font-size: 40px;
    font-weight: 300;
    line-height: 42px;
    margin-bottom: 15px;
}
.recording_about {
    text-align: center;
    color: #868898;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 70px;
}
.recording_tiles {
    max-width: 920px;
    margin: auto;
    background-color: #1f212e;
}
.recording_tiles_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    border-bottom: 2px solid rgba(64,66,77,0.2);
}
.recording_tiles_button {
    display: flex;
    align-items: center;
    width: 34px;
}
.recording_tiles_context {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    flex-flow: wrap;
    justify-content: flex-end;
    margin-left: 5px;
}
.recording_tiles_question {
    margin-right: 5px;
    color: #868898;
}
.recording_tiles_answer {
    color: #ff6b22;
    transition: color .2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
}
.recording_tiles_answer:hover {
    color: rgba(255,107,34,0.8);
}
.recording_tile {
    padding: 40px 40px 0;
}
.recording_tile:last-child {
    padding-bottom: 40px;
}
.recording_tile_title {
    color: white;
    font-size: 26px;
    font-weight: 400;
    line-height: 34px;
    margin-bottom: 20px;
}
.recording_tile_info {
    color: #868898;
    font-size: 15px;
    font-weight: 500;
    line-height: 22px;
}